@keyframes plateappear {
    100%{
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	  }
	
	50%{
		-webkit-transform: scaleY(1.8);
		transform: scaleY(1.8);
	  }
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		opacity: 1;
	}
	75% {
		transform: rotate(360deg);
		opacity: .8;
	}
	100% {
		transform: rotate(360deg);
		opacity: 0;
	}
}

@keyframes contentappear {
	0% {
		z-index: 0;
	}
	100% {
		z-index: 10000;
	}
}

@keyframes confirmationrotate {	
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0);
	}
}